.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    transition: background-color 0.3s ease-in-out;
}

.header_withBackground {
    background-color: #00000057;
    backdrop-filter: blur(10px);
}

.header_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header_links a {
    color: #fff;
    text-transform: uppercase;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.header_links a:hover {
    opacity: 1;
}

.linkActive {
    opacity: 1 !important;
}

.linkActive::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 2px;
    background: #e5097e;
    border-radius: 999px;
}

.header_links_user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}