@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: 'Montserrat', sans-serif !important;
  /* color: #fff; */
}

a {
  text-decoration: none;
}


body {
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

.centerBlock {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}